.tablet{
    height: 600px;
    width: 300px;
    
    margin-top: 110px;
    margin-left: 480px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 4px 4px 4px 4px rgb(207, 85, 85);
    border-radius: 20px;

}
.calculator-screen{
    height: 23px;
    width: 250px;
    padding-top: 20px;
    font-size: 32px;
    margin-left: 22px;
    color: black;
    padding-bottom: 13px;
    
    background-image: linear-gradient(35deg,#C33764 ,#FF512F);
    border-color: linear-gradient(35deg,#C33764 ,#FF512F);
}


.Button{
    height: 52px;
    width: 57px;
    background-color: white;
    border: white;
    margin-left: 10px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
    margin-top: 2px;
    color: black;
    cursor: pointer;
    
}
.Button2{
    height: 52px;
    width: 50px;
    margin-left: 10px;
    margin-top: 15px;
    border: black;
    border-radius: 3px 3px 3px 3px;
    font-size: 25px;
    font-weight: bold;
    background-color:crimson; 
    background-image: linear-gradient(35deg,#C33764 ,#FF512F);
    color: black;
    border-radius: 45px;
     filter: drop-shadow(0 0 0.75rem crimson); 
    
}
.Button:hover{
    transform: scale(1.1);
}
.Button2:hover{
    transform: scale(1.1);
}
.Button3:hover{
    transform: scale(1.1);
}


.Button3{
    
    border-radius: 45px;
    width: 80px;
    height: 45px;
    border: white solid 2px;
    background-image: linear-gradient(35deg,#C33764 ,#FF512F);
    font-size: 18px;
    font-weight: bold;
    color: black;
    filter: drop-shadow(0 0 0.75rem crimson);
}
